header {
  padding: 0.5rem 2rem;
  background: var(--bg-dark);
  max-height: 80px;
}

.marlowe-logo {
  width: 60px;
  height: 42px;
}

.marlowe-logo svg {
  fill: url(#marlowe__linear-gradient) var(--primary-color);
}

.marlowe-title-group {
  flex: 1;
  justify-content: start;
}

.project-title {
  text-align: center;
  flex: 0.4;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.project-title i {
  height: 1em;
  width: 1em;
}

.project-title .empty {
  height: 1em;
  width: 1em;
}

.external-links {
  flex: 1;
  text-align: right;
}

.menu-bar {
  display: flex;
}

.menu-bar a {
  padding: 0rem 1rem;
  font-weight: bold;
}

.global-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 1em;
  background-color: var(--bg-light);
}

.global-actions h2 {
  margin: 0 1rem;
}

.global-actions button {
  height: 2em;
  padding: 0.4em 0em;
  min-width: 8em;
}

.save-button-group {
  display: flex;
  align-items: center;
}

.save-button-group .error {
  color: var(--error-color);
  padding: 0em 1em;
}

.global-actions .group {
  display: flex;
  align-items: center;
}

.global-actions .group button {
  margin-left: 1em;
  padding: 0rem 1rem;
}