header {
  padding: 0.5rem 2rem;
  background: var(--bg-dark);
  max-height: 80px;
}

.marlowe-logo {
  width: 60px;
  height: 42px;
}

.marlowe-logo svg {
  fill: url(#marlowe__linear-gradient) var(--primary-color);
}

.marlowe-title-group {
  flex: 1;
  justify-content: start;
}

.project-title {
  flex: 1;
  text-align: center;
}

.external-links {
  flex: 1;
  text-align: right;
}

.menu-bar {
  display: flex;
}

.menu-bar a {
  padding: 0rem 1rem;
}

.global-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1em 1em;
  background-color: var(--bg-light);
  border-bottom: solid 1px var(--bg-dark);
}

.global-actions h2 {
  margin: 0 1rem;
}

.global-actions button {
  height: 2rem;
}

.save-button-group {
  display: flex;
  align-items: center;
}

.save-button-group .error {
  color: var(--error-color);
  padding: 0em 1em;
}

.global-actions .group {
  display: flex;
  align-items: center;
}